body {
  background: #f5f5f5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  padding: 20px 40px 0 40px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main-container {
  display: flex;
  column-gap: 40px;
  aside {
    flex: 0.4;
  }
  .ant-skeleton {
    flex: 1;
  }
}

@media (max-width: 768px) {
  #root {
    padding: 20px 20px 0 20px;
  }
  .header {
    flex-direction: column;
    h2 {
      margin: 10px 0 20px 0;
    }
  }
  .schedule-item {
    h1 {
      font-size: clamp(1rem, 0.6437rem + 1.7817vw, 1.5rem);
    }
    h2 {
      font-size: clamp(0.875rem, 0.6968rem + 0.8909vw, 1.125rem);
    }
  }
}
@media (max-width: 500px) {
  hr {
    display: none;
  }
  #root {
    padding: 20px 0 0 0;
  }
  .header {
    padding: 0 20px;
  }
  .search-input {
    margin: 10px 0 30px 20px;
  }
  .title {
    font-size: 24px !important;
  }
}
